<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/dashboard-style.css">
    <title>Place Order - Laundrify</title>
</head>
<body>
    <header class="top-navbar">
        <div class="logo-text">LAUNDRIFY</div>
        <div class="user-tag"><span>Staff Counter: <strong>Juan Dela Cruz</strong></span></div>
    </header>
    <div class="app-frame">
        <aside class="sidebar-nav">
            <a href="dashboard.html" class="nav-link">Dashboard</a>
            <a href="order.html" class="nav-link">Place New Order</a>
            <a href="queue.html" class="nav-link">Orders Queue</a>
            <a href="customers.html" class="nav-link">Customer Database</a>
            <a href="services.html" class="nav-link">Services Catalog</a>
            <a href="payments.html" class="nav-link active">Payments Ledger</a>

            <div class="logout-anchor">
        <a href="login.html" class="nav-link logout-btn">Log Out</a>
    </div>
        </aside>
        <main class="workspace">
            <div id="view-payments" class="view-panel active-view">
                <h1>[PAYMENTS] Financial Ledger</h1>
                <div class="ui-card">
                    <table class="basket-table">
                        <thead>
                            <tr><th>PaymentID</th><th>OrderID</th><th>Method</th><th>Status</th><th>Amount Paid</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>PAY-901</td><td>ORD-1024</td><td>Cash</td><td><span class="status-badge status-paid">Paid</span></td><td>₱250.00</td></tr>
                            <tr><td>PAY-902</td><td>ORD-1023</td><td>GCash</td><td><span class="status-badge status-paid">Paid</span></td><td>₱120.00</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </main>
    </div>
</body>
</html>