<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/dashboard-style.css">
    <title>Place Order - Laundrify</title>
</head>
<body>
    <header class="top-navbar">
        <div class="logo-text">LAUNDRIFY</div>
        <div class="user-tag"><span>Staff Counter: <strong>Juan Dela Cruz</strong></span></div>
    </header>
    <div class="app-frame">
        <aside class="sidebar-nav">
            <a href="dashboard.html" class="nav-link">Dashboard</a>
            <a href="order.html" class="nav-link">Place New Order</a>
            <a href="queue.html" class="nav-link">Orders Queue</a>
            <a href="customers.html" class="nav-link">Customer Database</a>
            <a href="services.html" class="nav-link active">Services Catalog</a>
            <a href="payments.html" class="nav-link">Payments Ledger</a>

            <div class="logout-anchor">
        <a href="login.html" class="nav-link logout-btn">Log Out</a>
    </div>
        </aside>
        <main class="workspace">
             <div id="view-services" class="view-panel active-view">
                <h1>[SERVICES] Dynamic Pricing Table</h1>
                <div class="ui-card">
                    <table class="basket-table">
                        <thead>
                            <tr><th>ServiceID</th><th>Service Name</th><th>Base Rate</th><th>Unit Basis</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>1</td><td>Wash-Dry-Fold</td><td>₱50.00</td><td>kg</td></tr>
                            <tr><td>2</td><td>Dry Cleaning</td><td>₱120.00</td><td>pc</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </main>
    </div>
</body>
</html>